body {
    background-color: blueviolet
}

footer {
    background-color: black;
    color: lightgrey;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.5rem;
    margin-top: 0.5rem;
}